body {
    background-color: black;
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 48px;
}

body .home-button {
    position: absolute;
    text-align: left;
    margin-left: 75px;
    margin-top: 5px;
}

body .list-button {
    position: absolute;
    text-align: left;
    left: 140px;
    margin-top: 5px;
}


body .container p { 
     margin: 20px auto;
     width: 500px; 
     text-align: left;
     font-size: 36px;
     font-family: 'Georgia', sans-serif;
}
