body {
    color: black;
    font-family: sans-serif;
    text-align: center;
}

body .locations .labels {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: #ffa500;
}

body .locations .letter {
    width: 400px;
    margin: 20px auto;
}

#map {
    width: 600px;
    height: 600px;
    margin: auto;
}



