body {
    color: #ffa500;
    font-size:larger;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

body .locations .labels {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: black;
    font-family: sans-serif;
    height: 300px;
    overflow: scroll;
    padding-left: 150px;
}

body .locations .letter {
    width: 400px;
    margin: 20px auto;
    color: #ffa500;
    font-family: sans-serif
    font-size: 24px;
    
}

#map {
    width: 600px;
    height: 600px;
    margin: auto;
    position: fixed;
    top: 80px;
    left: 10px;
}


